$Dark: #0f121d;
$BGcolor: #24293e;
$SoftDark: #2f3651;
$SoftBlue: #8ebbff;
$Yellow: #f5e8c7;
$StrengthVeryWeak: #da2a2a;
$StrengthWeak: #dad72a;
$StrengthStrong: #2ada30;
$StrengthVeryStrong: #2a50da;
